<!DOCTYPE html>
<html>
  <head>
    <title>Add New Event</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        padding: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
        color: #333;
        font-weight: bold;
      }

      input[type="text"],
      input[type="number"],
      input[type="date"],
      input[type="url"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      /* Add additional styling for the Attraction input */
      #attraction {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        min-height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Add New Event</h1>
      <form method="post" action="/events">
        <label for="name">Event Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" required />
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required />
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required />
        <label for="ticket_price">Ticket Price:</label>
        <input
          type="number"
          id="ticket_price"
          name="ticket_price"
          step="0.01"
          required
        />
        <label for="attraction">Attraction:</label>
        <textarea id="attraction" name="attraction"></textarea>
        <label for="image_url">Event Image URL:</label>
        <input type="url" id="image_url" name="image_url" required />
        <button type="submit">Add Event</button>
      </form>
    </div>
  </body>
</html>
