<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .page-content {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f4f4f4;
    }

    .container {
      text-align: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
      color: #007bff;
      font-family: 'Argent', sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #555;
      text-align: left;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Argent&display=swap" rel="stylesheet">
</head>
<body>
  <%- include("./navbar") %>
  <div class="page-content">
    <div class="container">
      <h1>Anime <span style="color: #64b5f6;">D</span><span style="color: #f06292;">B</span></h1>
      <form action="http://localhost:3000/user/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
